body, html, #root {
    font-family: sans-serif;
    padding: 20px;
    margin: 0;
   /* background-image: url("https://i.pinimg.com/736x/0c/bf/b1/0cbfb1f7fcb48363ad73e53530e70d81.jpg");*/
    background-color: rgb(0, 255, 255); /* color sólido */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(101, 101, 156);
}
header {
    font-size: 56px;       /* tamaño de letra grande */
    font-weight: bold;     /* letra más gruesa */
    text-align: center;    /* centra el texto */
    margin-bottom: 40px;   /* separa el header del contenido de abajo */
    color: #1e646d;           /* color del texto, opcional */
}

